.forecast {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  border-radius: 30px;
  padding: 30px;
  font-size: 20px;
  @media (max-width: 1050px) {
    grid-column-gap: 15px;
  }
  @media (max-width: 860px) {
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 00px;
  }
}
.forecast--light {
  background: rgba(0, 0, 0, 0.2);
}
.forecast--dark {
  background: rgba(0, 0, 0, 0.4);
}
.forecast__date {
  font-size: 24px;
  margin-bottom: 20px;
  text-decoration: underline;
  @media (max-width: 860px) {
    font-size: 22px;
    margin-left: 10px;
  }

  @media (max-width: 600px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.forecast-box {
  @media (max-width: 860px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  @media (max-width: 500px) {
    align-items: flex-start;
  }
  @media (max-width: 600px) {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}
