.forecast {
  margin-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  border-radius: 30px;
  padding: 30px 50px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  @media (max-width: 860px) {
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 00px;
  }

  &__date {
    font-size: 24px;
    margin-bottom: 20px;
    @media (max-width: 860px) {
      font-size: 28px;
    }

    @media (max-width: 600px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  &-box {
    @media (max-width: 860px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    @media (max-width: 500px) {
      align-items: flex-start;
    }
    @media (max-width: 600px) {
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
  }
}
