.location {
  width: 100%;
  font-weight: 400;
  font-size: 32px;
  margin-top: 40px;
  margin-left: 10px;
  @media (max-width: 1050px) {
    font-size: 24px;
  }
  @media (max-width: 860px) {
    margin-top: 20px;
    font-size: 20px;
  }
  font-family: Arial, Helvetica, sans-serif;
}
