.toggler {
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__icon {
    position: relative;
    .icon-moon,
    .icon-sun {
      cursor: pointer;
      width: 26px;
      height: 26px;
    }
    .icon-moon {
      fill: #f9f0da;
      position: absolute;
      width: 23px;
      height: 23px;
      left: -1px;
      @media (max-width: 650px) {
        width: 20px;
        height: 20px;
        top: -1px;
      }
    }
    .icon-sun {
      fill: #fbd972;
      position: absolute;
      right: -3px;
      @media (max-width: 650px) {
        height: 23px;
        width: 23px;
        right: -6px;
        top: -1px;
      }
    }
  }
}

.toggle--light,
.toggle--dark {
  display: none;
}

.toggle--light + .toggle-button,
.toggle--dark + .toggle-button {
  outline: 0;
  display: inline-block;
  width: 60px;
  height: 30px;
  position: relative;
  cursor: pointer;
  border: 2px solid #333;
  user-select: none;
  background: #9eabb6;
  @media (max-width: 650px) {
    height: 25px;
    width: 50px;
  }
}
.toggle--dark + .toggle-button {
  background: rgba(0, 0, 0, 0.2);
}

.toggle--light + .toggle-button:after,
.toggle--light + .toggle-button:before,
.toggle--dark + .toggle-button:after,
.toggle--dark + .toggle-button:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.toggle--light + .toggle-button:after,
.toggle--dark + .toggle-button:after {
  left: 0;
}

.toggle--light + .toggle-button:before,
.toggle--dark + .toggle-button:before {
  display: none;
}

.toggle--light:checked + .toggle-button:after,
.toggle--dark:checked + .toggle-button:after {
  left: 50%;
}

.toggle--light + .toggle-button,
.toggle--dark + .toggle-button {
  padding: 2px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid #f9f0da;
  border-radius: 2em;
}
.toggle--light + .toggle-button {
  border: 2px solid #9eabb6;
}

.toggle--light + .toggle-button:after,
.toggle--dark + .toggle-button:after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  content: "";
  height: 0px;
}
.toggle--dark + .toggle-button:after {
  background: #f9f0da;
}

.toggle--light:checked + .toggle-button:after,
.toggle--dark:checked + .toggle-button:after {
  left: 50%;
}
