.search {
  width: 100%;
  float: right;
  margin-right: 30px;
  position: relative;
  @media (max-width: 450px) {
    margin-right: 15px;
  }

  &:after {
    content: "";
    clear: both;
    display: table;
  }

  &__bar--light,
  &__bar--dark {
    position: absolute;
    right: 0px;
    top: -1px;
    z-index: 10;
    font-size: 24px;
    padding-left: 20px;
    width: 50%;
    height: 40px;
    padding-left: 15px;
    border-radius: 40px;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
    @media (max-width: 1050px) {
      position: relative;
    }
    @media (max-width: 1050px) {
      width: 100%;
    }

    &:hover {
      box-shadow: 0 3px 7px 2px rgba(84, 80, 87, 0.36);
    }
    background: #f9f0da;

    outline: none;
    transition: 0.3s linear;
    &::placeholder {
      padding-top: 20px;
      font-size: 18px;

    }
    &:focus {
      
      width: 100%;


      &::-webkit-input-placeholder {
        opacity: 0;
        transition: all 0.5s;
        font-size: 30px;
      }
    }
  }
  &__bar--dark {
    background-color: #34353a;
    color: #f9f0da;
    &::placeholder {
      color: #f9f0da;
    }
  }

  &__button--light,
  &__button--dark {
    z-index: 20;
    width: 26px;
    background: none;
    border: none;
    position: absolute;
    top: 6px;
    right: 8px;
    cursor: pointer;
    fill: #919ca0;
  }
  &__button--dark {
    fill: #f9f0da;
  }
}
